<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="RestAppender" class="co.com.xm.utilappender.RestAppender">
		<application>${log.appender.applicationName}</application>
		<serviceURL>${log.appender.urlService}</serviceURL>
	</appender>


	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
